{# @TODO: Make required variables error if missing? #}
{# @TODO: Supply images as object with src/alt/breakpoint props? #}

<div class="hero">

  {% if img_desktop %}
    <picture>
      <source srcset="{{ img_desktop }}" media="(min-width: 700px)" />
      <img src="{{ img }}" alt="{{ img_alt }}" class="hero__image" />
    </picture>
  {% else %}
    <img src="{{ img }}" alt="{{ img_alt }}" class="hero__image" />
  {% endif %}

  <div class="hero__body">
    <h1 class="hero__title">{{ title }}</h1>
    {% if text %}<p class="hero__text">{{ text }}</p>{% endif %}
  </div>

</div>
