{# @TODO: Make required variables error if missing? #}
{% set img %}
  <img src="{{ image.src }}" alt="{{ image.alt }}" class="hero__image" />
{% endset %}

<div class="hero">

  {% if image.sources|length > 0 %}
    <picture>
      {% for source in image.sources %}
        {% if source.srcset and source.media %}
          <source srcset="{{ source.srcset }}" media="{{ source.media }}" />
        {% endif %}
      {% endfor %}
      {{ img }}
    </picture>
  {% else %}
    {{ img }}
  {% endif %}

  <div class="hero__body">
    <h1 class="hero__title">{{ title }}</h1>
    {% if text %}<p class="hero__text">{{ text }}</p>{% endif %}
  </div>

</div>
